{% extends  'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block main %}
    {% verbatim %}
    <h1>{{ title }}</h1>
    <form method="post" target="#">
        <fieldset v-for="(fieldset, fs_index) in event_info" :key="fieldset.id">
            <legend>{{ fieldset.legend }}</legend>
            <div v-for="(input, index) in fieldset.fields" :key="input.id">
                <label v-bind:class="[{ requiredField : input.required }, '']">
                    {{ input.label }}
                    <span v-if="input.required">*</span>
                </label>
                <input v-if="input.type !== 'textarea'"
                       v-bind:type="input.type"
                       v-bind:class="input.class"
                       v-bind:required="input.required">
                <textarea v-else-if="input.type === 'textarea'"
                          v-bind:type="input.type"
                          v-bind:class="input.class"
                          v-bind:required="input.required">
                </textarea>
                <select v-if="input.additional_question">
                    <option value="shees">sheesh</option>
                    <option value="shees2">sheesh2</option>
                </select>
                <button v-if="input.additional_question" v-on:click="del_question(fs_index, index)">X</button>
            </div>
            <button v-if="fieldset.additional" class="btn-secondary" v-on:click="add_question(fieldset.legend)"
                    v-bind:id="'fs_' + fieldset.legend">+
            </button>
        </fieldset>
        <button v-on:click="add_questionset()" class="btn-secondary">Add Question Set</button>
        <input type="submit" class="btn-primary">
    </form>
    {% endverbatim %}
{% endblock %}

{% block bottom %}
    <script src="{% static 'js/vue.js' %}"></script>
    <script>
        var app = new Vue({
            el: 'main',
            data: {
                title: 'Add Event',
                event_info: [
                    {
                        legend: 'Event',
                        fields: [
                            {label: 'Name', required: true, type: 'text', class: 'control-label'},
                            {label: 'Beschreibung', required: true, type: 'textarea'},
                            {label: 'Start', required: true, type: 'text', class: 'datetimeinput'},
                            {label: 'Ende', required: true, type: 'text', class: 'datetimeinput'},
                        ]
                    }, {
                        legend: 'Anmeldezeitraum',
                        fields: [
                            {label: 'Von', required: true, type: 'text'},
                            {label: 'Bis', required: true, type: 'text'},
                        ]
                    }
                ],
                generated_questionsets: 0,
                generated_questions: 0,
            },
            methods: {
                add_questionset: function () {
                    to_push = {
                        id: this.generated_questionsets,
                        legend: this.event_info.length,
                        additional: true,
                        fields: [
                            {label: 'Title', required: true, type: 'text'},
                            {label: 'Name', required: true, type: 'text', additional_question: true},
                        ]
                    }
                    this.event_info.push(to_push)
                    this.generated_questionsets++
                },
                add_question: function (fieldset_id) {
                    fieldset = this.event_info[fieldset_id]
                    fieldset.fields.push(
                        {
                            label: 'Name',
                            required: true,
                            type: 'text',
                            additional_question: true,
                            id: this.generated_questions
                        },
                    )
                    this.generated_questions++
                },
                del_question: function (fieldset_id, question_id) {
                    fieldset = this.event_info[fieldset_id]
                    Vue.delete(fieldset.fields, question_id)
                }
            }
        });
    </script>
{% endblock %}