{% extends  'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block main %}
    {% verbatim %}
    <h1>{{ title }}</h1>
    <form method="post" target="#">
        <fieldset v-for="(fieldset, fs_index) in event_info" :key="fieldset.id">
            <legend v-if="fieldset.additional">{{ fieldset.fields[0].value ? fieldset.fields[0].value : fieldset.id }}
            </legend>
            <legend v-else>{{ fieldset.legend }}</legend>
            <button type="button" class="btn-secondary" v-if="fieldset.additional"
                    v-on:click="del_questionset(fs_index)">X
            </button>
            <div v-for="(input, index) in fieldset.fields" :key="input.id">
                <label v-bind:class="[{ requiredField : input.required }, '']">
                    {{ input.label }}
                    <span v-if="input.html_fields.required">*</span>
                </label>
                <input v-if="input.type !== 'textarea'"
                       v-bind="input.html_fields"
                       v-model="input.value"
                >
                <textarea v-else-if="input.type === 'textarea'"
                          v-bind="input.html_fields"
                          v-model="input.value"
                >
                </textarea>
                <select v-if="input.additional_question" v-model="input.type_value">
                    <option v-for="possible in possible_fields" v-bind:value="possible.value">{{ possible.name }}
                    </option>
                </select>
                <button type="button" v-if="input.additional_question" v-on:click="del_question(fs_index, index)">X
                </button>
            </div>
            <button type="button" v-if="fieldset.additional" class="btn-secondary" v-on:click="add_question(fs_index)">
                +
            </button>
        </fieldset>
        <button type="button" v-on:click="add_questionset()" class="btn-secondary">Add Question Set</button>
        <input type="submit" class="btn-primary">
    </form>
    {% endverbatim %}
{% endblock %}

{% block bottom %}
    <script src="{% static 'js/vue.js' %}"></script>
    <script>
        var app = new Vue({
            el: 'main',
            data: {
                title: 'Add Event',
                event_info: [
                    {
                        legend: 'Event',
                        fields: [
                            {label: 'Name', html_fields: {required: true, type: 'text', class: 'control-label'}},
                            {label: 'Beschreibung', html_fields: {required: true}, type: 'textarea'},
                            {label: 'Start', html_fields: {required: true, type: 'text', class: 'datetimeinput'}},
                            {label: 'Ende', html_fields: {required: true, type: 'text', class: 'datetimeinput'}},
                        ]
                    }, {
                        legend: 'Anmeldezeitraum',
                        fields: [
                            {label: 'Von', html_fields: {required: true, type: 'text'}},
                            {label: 'Bis', html_fields: {required: true, type: 'text'}},
                        ]
                    }
                ],
                generated_questionsets: 2,
                generated_questions: 0,
                possible_fields: [
                    {name: 'Characters', value: 'CHR'},
                    {name: 'Text', value: 'TXT'},
                    {name: 'Date', value: 'DAT'},
                    {name: 'Time', value: 'TME'},
                    {name: 'E-Mail', value: 'MAL'},
                ]
            },
            methods: {
                add_questionset: function () {
                    to_push = {
                        id: this.generated_questionsets,
                        legend: this.generated_questionsets,
                        additional: true,
                        fields: [
                            {
                                label: 'Title',
                                html_fields: {required: true, type: 'text', placeholder: 'The sets title'}
                            },
                            {
                                label: 'Target',
                                html_fields: {required: true, type: 'text', placeholder: 'The sets title'}
                            },
                        ]
                    };
                    this.event_info.push(to_push);
                    this.generated_questionsets++;
                    this.add_question(to_push.id);
                },
                add_question: function (fieldset_id) {
                    fieldset = this.event_info[fieldset_id];
                    fieldset.fields.push(
                        {
                            label: 'Name',
                            additional_question: true,
                            html_fields: {
                                required: true,
                                type: 'text',
                            },
                            id: this.generated_questions,
                            type_value: 'CHR',
                            value: '',
                        },
                    );
                    this.generated_questions++
                },
                del_question: function (fieldset_id, question_id) {
                    fieldset = this.event_info[fieldset_id];
                    Vue.delete(fieldset.fields, question_id);
                },
                del_questionset: function (fieldset_id) {
                    Vue.delete(this.event_info, fieldset_id);
                }
            }
        });
    </script>
{% endblock %}