{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'events/js/jquery-ui-timepicker-addon.min.css' %}">
    <script src="{% static 'events/js/jquery-ui-timepicker-addon.min.js' %}"></script>
    <script>
        $(function () {
            $('.datetimeinput').datetimepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-1Y:+5Y",
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
{% endblock %}

{% block main %}
    {% csrf_token %}
    {% crispy form %}
{% endblock %}