{% extends  'base.html' %}

{% block main %}
    <h1>Events</h1>
    <table cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>Ende</th>
            <th>Anmelden bis</th>
            <th></th>
        </tr>
        </thead>
        {% for event in events %}
            <tr>
                <td><a href="{% url 'event_detail' event.slug %}" class="btn-tertiary">{{ event.name }}</a></td>
                <td>{{ event.start_datetime }}</td>
                <td>{{ event.end_datetime }}</td>
                <td>{{ event.signup_to }}</td>
                <td><a href="{% url 'add_participant' %}?event={{ event.id }}" class="btn-secondary">Anmelden</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'event' %}" class="btn-secondary buttonHolder">Event erstellen</a>
{% endblock %}