@import ../../../../static/css/base

h1
  font-family: $font_headings
  color: $primary-yellow
  background-color: $brown-layover
  width: 30%
  text-align: center
  padding: .5rem
  max-width: 255px
  min-width: 170px