$primary-blue: #1d4899
$primary-yellow: #ffcb04
$brown-layover: rgba(56, 46, 35, 0.7)

$font_base: "Roboto", "Verdana", "Arial", sans-serif
$font_headings: "Immenhausen", serif

body
  margin: 0
  padding: 0
  background-image: url("/static/images/holzhintergrund.jpg")
  font-family: $font_base

#branding
  display: block
  width: 425px
  height: 145px
  margin-left: 10%
  margin-bottom: -10px
  position: relative
  text-align: center

  #branding_logo
    text-align: center
    box-sizing: border-box
    padding: 0
    margin: 0
    position: relative
    padding: 1rem
    background-color: $primary-yellow
    z-index: 2

  #branding_region
    line-height: 30px
    text-align: center
    color: $primary-yellow
    font-size: 18px
    background-color: $primary-blue
    font-family: $font_headings
    z-index: 2
    position: relative

#branding::after
  z-index: 1
  background-image: url("/static/images/shadow.svg")
  background-color: rgba(0, 0, 0, 0)
  background-position: 50% 0%
  bottom: -20px
  background-attachment: scroll
  background-clip: border-box
  display: block
  height: 143px
  width: 457px
  content: ""
  position: absolute

main
  padding: 2rem 3rem

h1
  font-family: Immenhausen, serif
  color: $primary-yellow
  background-color: $brown-layover
  width: 30%
  text-align: center
  padding: .5rem

fieldset
  background-color: $brown-layover
  border-style: none
  padding-top: 3rem
  padding-left: 1rem
  position: relative
  margin: 1rem

  legend
    top: .5rem
    position: absolute
    color: $primary-blue
    font-family: $font_headings
    font-size: 18pt
    background-color: $primary-yellow
    padding: .1rem .6rem

  label
    color: $primary-yellow

  .help-inline
    color: white
    background-color: #f00000

#buttonHolder
  float: right

.btn
  background-color: $primary-yellow
  color: $primary-blue
  border: 0
  border-radius: 0
  font-size: 150%
  float: right
  padding: .2rem 1rem
  font-family: $font_headings
