@import 'reset'
@import 'variables'

*
  margin: 0
  padding: 0

html, body
  height: 100%

#container
  min-height: 100%

body
  background-image: url("/static/images/holzhintergrund.jpg")
  font-family: $font_base
  display: grid
  grid-gap: 1rem
  grid-template-columns: 1fr 1fr 4fr 8fr 2fr
  grid-template-rows: auto 1fr $footer_height
  grid-template-areas: '. header header . .''nav nav main main .''footer footer footer footer footer'

  header
    grid-area: header

  #container
    display: contents

main
  grid-area: main
  //padding-top: 2rem
  margin: 0 auto

  h1, h2, h3, h4, .btn-tertiary
    font-family: $font_headings
    text-align: center
    padding: .5rem
    margin: .5rem 0

  h1
    color: $primary-yellow
    background-color: $brown-layover
    font-size: 200%
    grid-area: title

  h2
    color: $primary-blue
    background-color: $primary-yellow
    font-size: 150%

  h3
    font-size: 120%
    display: block

  .content
    background-color: white
    +base_shadow
    padding: 1rem
    overflow: visible
    margin-bottom: 2rem

    p
      margin: .5rem
      margin-bottom: 2rem

    strong
      font-weight: bold
      font-size: 105%
      color: $primary-blue

  table
    background-color: white
    margin: 2rem 0
    width: 100%
    +base_shadow

    th
      font-family: $font_headings
      font-size: 110%
      padding: .5rem

    tr:hover
      background-color: transparentize($brown-layover, .6)

    td
      padding: .5rem
      vertical-align: middle

    th, td
      border-bottom: 1px solid transparentize($brown-layover, .5)

#branding
  width: 100%
  text-align: center
  background: rgba(0, 0, 0, 0) url("/static/images/shadow.svg") no-repeat scroll 50% 0%
  background-clip: border-box
  display: block
  height: 20%
  content: ""
  position: relative

  #branding_logo
    text-align: center
    overflow: hidden
    padding: 1rem
    background-color: $primary-yellow
    z-index: 2

    img
      z-index: 3
      max-width: 100%

  #branding_region
    line-height: 30px
    text-align: center
    color: $primary-yellow
    font-size: 18px
    background-color: $primary-blue
    font-family: $font_headings
    z-index: 2

nav
  grid-area: nav
  +base_transition
  background-color: $primary-yellow
  +base_shadow
  margin-bottom: auto
  margin-top: 2rem

  li
    padding: .5rem 2rem
    height: auto

  a
    color: $brown-layover
    font-family: $font_headings
    font-size: 120%
  //display: block

  a:hover
    color: darken($brown-layover, 30%)

nav:hover
  left: 0

.buttonHolder
  float: right
  display: block
  clear: both
  margin: 1rem

.btn-primary
  background-color: $primary-blue
  +base_transition
  color: $primary-yellow
  +base_transition
  border: 0
  border-radius: 3px
  font-size: 200%
  padding: .2rem 1rem
  font-family: $font_headings
  +base_shadow

.btn-primary:hover
  background-color: darken($primary-blue, 10%)

.btn-secondary
  background-color: $primary-yellow
  color: $primary_blue
  +base_transition
  border-radius: 3px
  font-size: 130%
  padding: .2rem 1rem
  font-family: $font_headings
  border: 1px solid $primary-blue
  +base_transition
  vertical-align: middle

.btn-secondary:hover
  color: lighten($primary-blue, 20%)
  border-color: lighten($primary-blue, 20%)
  background-color: lighten($primary-yellow, 10%)

.btn-tertiary
  border: dashed 1px $primary-yellow
  border-radius: 3px
  font-size: 120%
  display: block
  color: $primary-blue
  +base_transition

.btn-tertiary:hover
  background-color: white
  color: lighten($primary-blue, 20%)

.btn-danger
  background-color: red

a, a:visited
  color: $primary-blue

footer
  background-color: $brown-layover
  height: $footer_height
  grid-area: footer

  h2
    color: $primary-yellow
    font-family: $font_headings