{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'signup/css/signup.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".dateinput").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: "-99Y",
                maxDate: "-3Y",
                defaultDate: "-15Y",
                yearRange: "-99Y:-3Y"
            }).datepicker("option", "dateFormat", "yy-mm-dd");
        });
    </script>
{% endblock %}

{% block main %}
    <h1>Anmeldung</h1>
    {% csrf_token %}
    {% crispy form %}
{% endblock %}