<!DOCTYPE html>
{% load staticfiles %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".dateinput").datepicker().datepicker("option", "dateFormat", "yy-mm-dd");
        });
    </script>
</head>
<body>

<div id="branding">
    <div id="branding_logo">
        <img class="responsive-img" src="//cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png"
             srcset="//cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png 1x, //cdn.pfadfinden.de/gfx/logos/bundeszeichen_1@2x.png 2x"
             alt="Bund der Pfadfinderinnen und Pfadfinder" width="390" height="79">
    </div>
    <div id="branding_region">
        Landesverband Bayern
    </div>
</div>

<main>
    {% block  main %}
    {% endblock %}
</main>

<footer>
    Impressum | BdP LV Bayern e.V.
</footer>
</body>
</html>