<!DOCTYPE html>
{% load staticfiles %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="container">
    <div id="branding">
        <div id="branding_logo">
            <img class="responsive-img" src="//cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png"
                 srcset="//cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png 1x, //cdn.pfadfinden.de/gfx/logos/bundeszeichen_1@2x.png 2x"
                 alt="Bund der Pfadfinderinnen und Pfadfinder" width="390" height="79">
        </div>
        <div id="branding_region">
            Landesverband Bayern
        </div>
    </div>


    <main>
        {% block  main %}
        {% endblock %}
    </main>

    <nav>
        <ul>
            <a href="{% url 'eventlist' %}">
                <li>Events</li>
            </a>
            <a href="{% url 'add_participant' %}">
                <li>Anmelden</li>
            </a>
        </ul>
    </nav>
</div>
<footer>
    <h2>Bund der Pfadfinderinnen und Pfadfinder Landesverband Bayern e.V.</h2>
    <p><a href="https://bayern.pfadfinden.de/impressum/">Impressum</a></p>
</footer>
</body>
</html>